.trafficTop{
    background-color: black;
    width: 12px;
    height: 70px;
    margin-left: 82px;
}
.container{
    background-color: black;
    width: 65px;
    height: 178px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}
.light{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
}

    .red {
        background-color: #990000;
    }
    .yellow {
        background-color: #CC6600;
    }
    .green {
        background-color: #009933;
    }
    .shine {
        box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.8);
    }

